<div class="content-wrapper" style="height:100vh">

    <section class="content-header">
        <h1>
            COMPANY MASTER
        </h1>
        <br>
        <a ng-click="Model.newForm = !Model.newForm" style="font-size: medium">Create New</a>

    </section>

    <section class="content" style="min-height:0px">
         <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable" ng-show="Model.newForm">
                <!-- quick email widget -->
                <div class="box box-info">
                    <div class="box-body">
                        <form>
                            <div class="form-group col-lg-12">
                                <label>ENTER COMPANY NAME</label>
                                <input ng-model="Model.name" class="form-control" type="text" placeholder="">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>ENTER COMPANY LOCATION</label>
                                <input ng-model="Model.location" class="form-control" type="text" placeholder="AHMEDABAD">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>ADDRESS</label>
                                <textarea class="form-control" ng-model="Model.address" rows="3" placeholder=""></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button ng-click="save()" type="button" class="pull-right btn btn-default">SAVE
                            <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </div>

            </section>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding" style="font-size: medium">
                        <table class="table table-hover">
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>Address</th>
                                <th>Delete</th>
                            </tr>
                            <tr ng-repeat="item in Model.companyList">
                                <td>{{item.Name}}</td>
                                <td>{{item.Location}}</td>
                                <td>{{item.Address}}</td>
                                <td ng-click="delete(item)"><span class="label label-danger">Delete</span></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>

</div>